@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main_container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left_slide{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;
}

.left_slide > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

.left_slide h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right_slide{
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.right_slide > div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button{
    background-color: white;
    color: #aaa;
    border: none;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    color: #222;
}

button:focus{
    outline: none;
}

.main_container .slide_buttons button{
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.main_container .slide_buttons .down_button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.main_container .slide_buttons .up_button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}